$def with (page)

<html>
<head>
<title>$page.title</title>
<style>
    #topbar {
        display: block;
        background-color: #eef;
        font-family: monospace;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #topbar li {
        display: block;
        float: left;
        margin-left: 5px;
    }
    #topbar li.right {
        float: right;
    }
    #topbar form {
        display: inline;
    }
    #topbar li * {
        padding: 0;
        margin: 0;
    }
</style>
</head>
<body>
<ul id="topbar">
    <!--<li>Text text text text text text text</li>-->
    <li>
        $:render_section_link(page, 'cfj', 'cfj/', 'CFJs')
    </li>
    <li class="space">
        $:render_section_link(page, 'message', 'message/', 'Messages')
    </li>
    <li class="right">
        <form action="." method="GET"><input type="text" name="search" value="$page.get('query', '')"><input type="submit" value="Search"></form>
    </li>
    $:page.get('topbar_stuff', '')
    <div style="clear: both"></div>
</ul>
$:page
</body>
</html>
